
form {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0;

}

form label {
    padding: 5px 0;
}

form div {
    width: 20%;
}

form input {
    padding: 5px;
}

button {
    width: 150px;
    height: 40px;
    font-family: monospace;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 30px 2px grey;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#nasa-images img {
    max-height: 400px;
    max-width: 100%;
    min-height: 200px;
    margin: 20px;
}
body{
    background-image: url(https://wallpapersmug.com/download/1366x768/6e2a7f/saturn-rings-nasa-astronaut.jpg)
}
    
.title{
    justify-content: center;
    text-align: center;
    font-size : 35px;
    font-style: italic;
    padding-top: 10px;
    color:white;
}
.foot{
    justify-content: center;
    text-align: center;
    font-size : 30px;
    font-style: italic;
    padding-top: 10%;
    color:white;
}